.right {
  display: flex;
  gap: 1rem;
}

.list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: .2rem
}

.list-menu li {
  cursor: pointer;
  font-weight: 500;
  padding: 0 .5rem;
  color: antiquewhite;
  font-size: 1rem;
}
